* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Muli', sans-serif;
    overflow: hidden;
    margin: 0;
    background: #333;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 100%;
    display: flex;
    padding: 0 20px;
  }
  
  .slide {
    position: relative;
    height: 80vh;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    color: #FFF;
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.6s ease-in-out;
  }
  
  .slide h3 {
    position: absolute;
    font-size: 1.5rem;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
  }
  
  .slide.active {
    flex: 10;
  }
  
  .slide.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
  }


  @media (width < 1024px) {
    .container {
      flex-direction: column;
    }
    .slide {
      min-height: 7vh;
    }
    .slide.active {
      min-height: 55vh;
    }
    .slide h3 {
      font-size: 1.25rem;
    }

  }
  @media (width < 675px) {
    .slide {
      min-height: 10vh;
    }
    .slide.active {
      min-height: 40vh;
    }
  }